<div class="show-data ">
    <div class="show-data-info">
        <button class="btn is-table-shown" (click)="showData()">
            <span *ngIf="!isTableShown; else showOtherButton">Show Original Simpson Character Data?</span>
            <ng-template #showOtherButton>
                <span >Hide Original Simpson Character Data?</span>
            </ng-template>
        </button>
    </div>
</div>

<!-- Nav tabs -->
<ul *ngIf="isTableShown" class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="simpson nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">All Characters</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="simpson nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Two Families</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="simpson nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab" aria-controls="messages" aria-selected="false">Names Only Array</button>
  </li>
</ul>

<!-- Tab panes -->
<div *ngIf="isTableShown" class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab"> 
        <table class="all-characters-table">
            <tr class="header-row">
                <th (click)="sortByOrderId()" class="order-id">orderId</th>
                <th (click)="sortByName()" class="name">Name</th>
                <th (click)="sortByGender()" class="gender">Gender</th>
            </tr>
            <tr class="data-rows" *ngFor="let character of allCharacters; let i = index">
                <td [ngClass]="styleSelectedCell(i)" (click)="tableCellClicked($event, i)" class="border order-id">{{character.orderId}}</td>
                <td (click)="tableCellClicked($event, i)" class="border">{{character.name}}</td>
                <td (click)="tableCellClicked($event, i)" class="border">{{character.gender}}</td>
            </tr>
        </table>
    </div>
    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <table class="table no-data">
            <tr>
                <td>DOH!!!</td>
            </tr>
        </table>
    </div>
    <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab"> messages </div>
</div>