@font-face {
    font-family: myFirstFont;
    src: url('../../../../../assets/fonts/Simpsonfont.otf');
}

ul.nav-tabs{
    padding-left:25px;
    border-bottom: 7px solid black;

    li.nav-item{
        background-color:#f14e28;
        border-color:gold;
        
        button{
            color:black;
            text-shadow: 2px 2px 4px #ffffff;
            background-color:rgba(135, 206, 235, 1);
            border-top:2px dashed white;
            border-left:2px dashed white;
            border-right:2px dashed white;
            
            &:hover{ 
                background-color: #76b4cd;
             }
        }

        button.active{
            background-color:gold;
            color:white;
            text-shadow: 2px 2px 4px #000000;

            &:hover{
                background-color: #dac341;
            }
        }
    }
}

div.show-data{
    width:100%;

    div.show-data-info{
        width:50%;
        margin:0 auto;
        padding:20px 0;
        button{
            font-weight: bold;
            font-size:1.4em;
            border:4px solid gold;
            width:100%;
            background-color: skyblue;
            margin:0 auto;
            font-family: myFirstFont;
            text-shadow: 2px 2px 3px #ffffff;
    
            &:hover{
                background-color:gold;
                color:skyblue;
                border:4px solid skyblue;
                text-shadow: 2px 2px 4px #000000;
            }
        }
    }
}

div.tab-content{
    padding: 20px 0;
    background-color:#c5eb53;
    div.tab-pane{
        table{
            border:1px solid black;
            margin:auto auto;
            width:30%;
            color:white
        }

        table.no-data{
            font-family: myFirstFont;
            color:red;
            text-shadow: 2px 2px 5px #000000;
            font-size:1.5em;

            &:after{
                content: "No Data to Show....";
                color:white;
            }
        }

        .all-characters-table{
            tr.header-row{
                background-color: skyblue; 
                text-shadow: 0 0 3px black;
                font-size:1.2em;
                font-weight: 900;
                font-family: myFirstFont;
                border-top: 4px solid black;
                border-bottom:4px solid black;
                cursor: pointer;

                th{
                    border:2px solid black
                }
                
                th.order-id, th.name, th.gender{
                    padding-left:5px;
                }

            }

            tr.data-rows{
                background-color:gold;
                text-shadow: 0 0 3px black;
                font-size:1.1em;
                font-weight: 900;
                font-family: myFirstFont;
                border:0px !important;
                &:hover{
                    // background-color:rgb(200, 176, 40);
                    background-color:rgb(200, 176, 40);

                }
                td{
                    font-size:0.85em;
                    border:0px !important;
                    border-top:1px solid white !important;
                    padding-left:10px;
                    &:hover{
                        background-color: lightseagreen;
                        border:1px dashed green;
                    }

                    .active{
                        color:red;
                    }
                }
                td.order-id{
                    padding-left:10px;
                }
            }
        }
    }
}

.simpson{
    font-family: myFirstFont;
}
