<div class="warning-message">use console for help....console all variables</div>
<div class="accordion" id="accordionExample">
    <!-- Item 1 = _default -->
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <div class="header">
            _.cefault
        </div>
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
        <div *ngFor="let character of defaultFilter">
            {{character.name}}
        </div>
        </div>
    </div>
    </div>

    <!-- Item 2 = _chunk -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <div class="header">
                _.chunk <span class="re-alter-to-display-correctly">...needs to be re-constructed to display correctly</span>
            </div>
        </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div *ngFor="let character of chunkFilter">
                {{character.name}}
            </div>
        </div>
        </div>
    </div>

     <!-- Item 3 = _compact -->
     <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            <div class="header">
                _.compact
            </div>
        </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div *ngFor="let character of compactFilter">
                {{character.name}}
            </div>
        </div>
        </div>
    </div>

     <!-- Item 4 = _concat -->
     <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            <div class="header">
                _.concat - Adds "Sideshow Bob" to list of Characters....
            </div>
        </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div *ngFor="let character of concatFilter">
                {{character.name}}
            </div>
        </div>
        </div>
    </div>

    <!-- Item 5 = _difference -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
            <div class="header">
                _.difference - Compares 2 arrays (simpsons vs flanders, the difference?) <span class="not-working">...Not Working</span>
            </div>
        </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div *ngFor="let character of concatFilter">
                {{character.name}}
            </div>
        </div>
        </div>
    </div>

    <!-- Item 6 = _drop -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                aria-expanded="true" aria-controls="collapseSix">
                <div class="header">
                    _.drop - removes items from the beginning  <span
                        class="working">working</span>
                </div>
            </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div *ngFor="let character of dropFilter">
                    {{character.name}}
                </div>
            </div>
        </div>
    </div>

    <!-- Item 7 = _dropRight -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven"
                aria-expanded="true" aria-controls="collapseSeven">
                <div class="header">
                    _.dropRight - removes items from the end <span class="working">working</span>
                </div>
            </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div *ngFor="let character of dropRightFilter">
                    {{character.name}}
                </div>
            </div>
        </div>
    </div>

    <!-- Item 8 = _dropWhile -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingEight">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight"
                aria-expanded="true" aria-controls="collapseEight">
                <div class="header">
                    _.dropWhile - removes items from the beginning <span class="working">working</span>
                </div>
            </button>
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div *ngFor="let character of dropWhileFilter">
                    {{character.name}}
                </div>
            </div>
        </div>
    </div>

     <!-- Item 9 = _dropWhile -->
     <div class="accordion-item">
        <h2 class="accordion-header" id="headingNine">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine"
                aria-expanded="true" aria-controls="collapseNine">
                <div class="header">
                    _.fill - fills data with whatever variable you pass <span class="working">working</span>
                </div>
            </button>
        </h2>
        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingEight"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div *ngFor="let character of fillFilter">
                    {{character.name}}
                </div>
            </div>
        </div>
    </div>


</div>
