div.warning-message{
    color:red;
    font-weight: bold;
    font-size:1.2em
}

div.header{
    // font-size:1em;
    font-weight:bold;
}

span.not-working{
    color:red;
}
span.working{
    color:green;
}

span.re-construct{
    color:gold;
}