<app-all-characters-table [allCharacters]="allCharacters"></app-all-characters-table>
<div class="accordion" id="accordionExample">

    <!-- Item 1 = _default -->
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <div class="header">
            _.defaults(simpsonFamilyCharacters); <span class="working">Working</span>
        </div>
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
        <div *ngFor="let character of defaultFilter">
            {{character.name}}
        </div>
        </div>
    </div>
    </div>

    <!-- Item 2 = _chunk -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <div class="header">
                _.chunk(simpsonFamilyCharacters, 1); <span class="re-construct">re-constructed needed (splits item into its own array)</span>
            </div>
        </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div *ngFor="let character of chunkFilter">
                {{character.name}}
            </div>
        </div>
        </div>
    </div>

     <!-- Item 3 = _compact -->
     <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            <div class="header">
                _.compact
            </div>
        </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div *ngFor="let character of compactFilter">
                {{character.name}}
            </div>
        </div>
        </div>
    </div>

     <!-- Item 4 = _concat -->
     <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            <div class="header">
                _.concat - Adds "Sideshow Bob" to list of Characters....
            </div>
        </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div *ngFor="let character of concatFilter">
                {{character.name}}
            </div>
        </div>
        </div>
    </div>

    <!-- Item 5 = _difference -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
            <div class="header">
                _.difference - Compares 2 arrays (simpsons vs flanders, the difference?) <span class="not-working">...Not Working</span>
            </div>
        </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div *ngFor="let character of concatFilter">
                {{character.name}}
            </div>
        </div>
        </div>
    </div>

    <!-- Item 6 = _drop -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                aria-expanded="true" aria-controls="collapseSix">
                <div class="header">
                    _.drop - removes items from the beginning  <span
                        class="working">working</span>
                </div>
            </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div *ngFor="let character of dropFilter">
                    {{character.name}}
                </div>
            </div>
        </div>
    </div>

    <!-- Item 7 = _dropRight -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven"
                aria-expanded="true" aria-controls="collapseSeven">
                <div class="header">
                    _.dropRight - removes items from the end <span class="working">working</span>
                </div>
            </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div *ngFor="let character of dropRightFilter">
                    {{character.name}}
                </div>
            </div>
        </div>
    </div>

    <!-- Item 8 = _dropWhile -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingEight">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight"
                aria-expanded="true" aria-controls="collapseEight">
                <div class="header">
                    _.dropWhile - removes items from the beginning <span class="working">working</span>
                </div>
            </button>
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div *ngFor="let character of dropWhileFilter">
                    {{character.name}}
                </div>
            </div>
        </div>
    </div>

     <!-- Item 9 = _fill -->
     <div class="accordion-item">
        <h2 class="accordion-header" id="headingNine">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine"
                aria-expanded="true" aria-controls="collapseNine">
                <div class="header">
                    _.fill - fills data with whatever variable you pass <span class="working">working</span>
                </div>
            </button>
        </h2>
        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div *ngFor="let character of fillFilter">
                    {{character.name}}
                </div>
            </div>
        </div>
    </div>

    <!-- Item 10 = _findIndex -->
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingTen">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen"
            aria-expanded="true" aria-controls="collapseTen">
            <div class="header">
                _.findIndex - gets array index# of simpson chracters <span class="working">Working</span>
            </div>
        </button>
    </h2>
    <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div>{{findIndexFilter}}</div>
        </div>
    </div>
    </div>

    <!-- Item 11 = _head -->
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingEleven">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven"
            aria-expanded="true" aria-controls="collapseEleven">
            <div class="header">
                _.head - gets first Item in array<span class="working"> Working</span>
            </div>
        </button>
    </h2>
    <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div><pre>{{headFilter | json}}</pre></div>
        </div>
    </div>
    </div>

    <!-- Item 12 = _indexOf -->
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwelve">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve"
            aria-expanded="true" aria-controls="collapseTwelve">
            <div class="header">
                _.indexOf - Gets the index at which the first occurrence of value is found in array.<span class="not-working"> Not Working</span>
            </div>
        </button>
    </h2>
    <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div>{{indexOfFilter | json}}</div>
        </div>
    </div>
    </div>

    <!-- Item 13 = _initial -->
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingThirteen">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen"
            aria-expanded="true" aria-controls="collapseThirteen">
            <div class="header">
                _.initial - Gets all but last item from array.<span class="working"> Working</span>
            </div>
        </button>
    </h2>
    <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen"
        data-bs-parent="#accordionExample">
        <div style="display:flex;" class="accordion-body">
            <table style="width:50%" class="table data-table">
                <tr class="table-row">
                    <th class="simpson"><span (click)="newFunctionToDo($event)">OrderId</span></th>
                    <th class="simpson"><span (click)="newFunctionToDo($event)">Name</span></th>
                    <th class="simpson"><span (click)="newFunctionToDo($event)">Gender</span></th>
                </tr>
                <tr class="table-row" *ngFor="let character of initialFilter; let i = index;">
                    <td class="simpson"><span>{{character.orderId}}</span> </td>
                    <td class="simpson"><span>{{character.name}}</span> </td>
                    <td class="simpson"><span>{{character.gender}}</span> </td>
                </tr>
            </table>
        </div>
    </div>
    </div>

     <!-- Item 14 = _intersection -->
     <div class="accordion-item">
        <h2 class="accordion-header" id="headingFourteen">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen"
                aria-expanded="true" aria-controls="collapseFourteen">
                <div class="header">
                    _.intersection - Creates an array of unique values that are included in all given arrays.<span class="working"> Working</span>
                </div>
            </button>
        </h2>
        <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="red">These are the Charcters in both the Simpsons and Flanders family</div>
                <div style="display:flex">
                    <div *ngFor="let character of intersectionFilter;">
                        <div style="margin-right:5px;margin-bottom:5px;">{{character}}</div>
                    </div>
                </div>
                <div style="display:flex">
                    <div class="intersection-family">Simpsons Family<br><pre>{{basicTwoFamilyCharacters[0] | json}}</pre></div> 
                    <div class="intersection-family">Flanders Family<br><pre>{{basicTwoFamilyCharacters[1] | json}}</pre></div> 
                </div>
            </div>
        </div>
    </div>

    <!-- Item 15 = _join -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading15">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse15" aria-expanded="true" aria-controls="collapse15">
                <div class="header">
                    _.join(basicCharacters) - takes an array (I used strings...) and converts into text with a separator (I used " is a Simpson!!! ") <span class="working">Working</span>
                </div>
            </button>
        </h2>
        <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="heading15" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div>
                    {{joinFilter}}
                </div>
            </div>
        </div>
    </div>

    <!-- Item 16 = _last -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading16">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse16" aria-expanded="true" aria-controls="collapse16">
                <div class="header">
                    _.last(allCharacters) - Returns last item in Array <span class="working">Working</span>
                </div>
            </button>
        </h2>
        <div id="collapse16" class="accordion-collapse collapse" aria-labelledby="heading16" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div>
                    <table style="width:50%" class="table">
                        <tr>
                            <th>OrderId</th>
                            <th>Name</th>
                            <th>Gender</th>
                        </tr>
                        <tr>
                            <td>{{lastFilter.orderId}}</td>
                            <td>{{lastFilter.name}}</td>
                            <td>{{lastFilter.gender}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Item 17 = _lastIndexOf -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading17">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse17" aria-expanded="true" aria-controls="collapse17">
            <div class="header">
                _.lastIndexOf(this.basicCharacters); <span class="working">Working</span>
            </div>
            </button>
        </h2>
        <div id="collapse17" class="accordion-collapse collapse" aria-labelledby="heading17" data-bs-parent="#accordionExample">
            <div>{{lastIndexOfFilter}}</div>
            <div><h2>Original Data</h2></div>
            <div style="border:2px solid red;display:flex;" class="accordion-body">  
                <table style="max-width:25%;border:2px solid red;" class="table data-table">
                    <tr class="table-row">
                        <th class="simpson"><span (click)="newFunctionToDo($event)">Name</span></th>
                    </tr>
                    <tr class="table-row" *ngFor="let character of basicCharacters; let i = index;">
                        <td class="simpson"><span>{{character}}</span> </td>
                    </tr>
                </table>        
            </div>
        </div>
    </div>
</div>
