<button (click)="clickSortFunction(topMenuCharacters)">Sort By orderId</button>
<ul class="character-checkboxes">
    <li *ngFor="let character of topMenuCharacters">
         <label for="{{character.name}}">{{character.name}}</label>
        <input (change)="filterCharacters($event, character)" type="checkbox" value="{{character.name}}" name="{{character.name}}" id="">
    </li>
</ul>
<hr>
<div class="character-wrapper-filter-data-component">
    <div class="characters" *ngFor="let character of myCharacters">
    {{character.name}}
</div>
</div>

